.rr-us-map{
    .map-container{
        position: relative;
        width:100%;
        #map {
            position: relative;
            width: 100%;
            height: 500px;
            padding: 0px;
            border: 0px;
            border-style: solid;
            border-color: #bbb;
            border-radius: 20px;
            align-content:center;
            svg{
                .svg-state{
                    cursor:pointer;
                    transition: all 0.5s ease;
                }
                rect{
                    cursor: pointer;
                }
                text{
                    font-size:21px;
                    cursor: pointer;
                }
                #state-borders {
                    fill: none;
                    stroke-width: 1.5px;
                    stroke-linejoin: round;
                    stroke-linecap: round;
                    pointer-events: none;
                }
            }
        }
    }
    
    #data-box{
        width: 100%;
        min-height: 540px;
        padding: 1em;
        border: 2px solid #3f6289;
        border-radius: 3px;
        .data-preview{
            height: 100%;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            z-index: 10;
            align-items: center;
            span{
                font-size: 41px;
                width: 300px;
                text-align: center;
                line-height: 1.5em;
                font-weight: bold;
            }
        }
        .state-name {
            font-size:41px;
            font-weight: 600;
            color: #444;
            text-transform: uppercase;
        }
        .data-info{
            .data-single{
                .data-field{
                    color: #88100d;
                    font-size: 17px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .data-value{
                    color: #aaaaac;
                    font-size: 14px;
                    margin-bottom: 2em;
                }
            }
        }
    }
}